
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div [ngBusy]="busyDemands"></div>
        <div class="header">
          <h2 class="title"> Tender <button class="btn btn-fill btn-danger pull-right" (click)="goBack()"><i class="ti-angle-left"></i> Back </button></h2>
          <p class="category"><strong><span>Tender Name:</span>{{tenderName}}</strong></p>
          <p class="category"><strong><span>Department Name:</span>{{departmentName}}</strong></p>
          <p class="category"><strong><span>District Name:</span>{{districtName}}</strong></p>
          <p class="category">List of all demanded medicines</p>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped table-hover">
			<thead>
			  <tr>
			  	<th>Demands</th>
			  	<th>Demanded By</th>
			    <th>No. of Medicines</th>
			    <th>Estimated Cost</th>
			    <th>Actions</th>
			  </tr>
			</thead>
			<tbody>
				<tr *ngFor="let demand of demands; let i=index">
					<td><span *ngIf="!tenderLocked"><input type="checkbox" class="form-control input-checkbox" [ngModel]="demStatus[i]" (ngModelChange)="acceptOrReject(demStatus[i],i)" /></span>
				  	<span class="input-text" *ngIf="demStatus[i]">Accepted</span>
				  	<span class="input-text" *ngIf="!demStatus[i]">Pending</span></td>
				  	<td> {{getUserById(demand.user)}} </td>
					<td> {{demand.medicine.length}} </td>
					<td> {{medPrice[i]}} </td>
					<td> <a routerLink="/editdemand/{{demand._id}}"> <span class="ti-pencil"></span> </a> </td>
				</tr>
			</tbody>
			</table>
        </div>
      </div>
    </div>
    </div>
    </div>