.checkbox input[type="checkbox"]{
  opacity:1;
  top:-3.5px;
  height: 20px;
  left: 0px;
}
input[type=radio] {
    width: 25px;
    height: 22px;
    top: 5px;
    position: relative;
    margin-right: 5px;
}
.inline-block {
	display: inline-block;
}
.td-heading {
	width: 75%;
}
.inline {
	display: inline;
}
.mb30 {
	margin-bottom: 30px;
}
.input-checkbox { width: 25px; }
.input-text { display: block; text-align: left; }
