<div style="margin-top: 50%;font-size: 9px;">

  <p style="text-align: center;"><span style="font-size: 9px;"><strong>Contract Form</strong></span></p>

  <p style="text-align: center;"><span style="font-size: 9px;"><strong>AGREEMENT</strong></span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>This Framework Contract</strong> is made at Primary &amp; Secondary Healthcare Department, 1- Birdwood Road, Lahore on _______ day of _______ cY, between the Primary &amp; Secondary Healthcare Department, 1-Birdwood Road Lahore (hereinafter referred to as the &quot;Purchaser&quot;) of the First Part; and M/s <strong>vendor</strong> a firm registered under the laws of Pakistan and having its registered office at <strong>VendorAddress</strong> (hereinafter called the &quot;Supplier&quot;) of the Second Part (hereinafter referred to individually as &quot;Party&quot; and collectively as the &quot;Parties&quot;).</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>WHEREAS</strong> the Purchaser on behalf of its procuring agencies i.e. Provincial &amp; District Health Department&#39;s invited bids for procurement of goods, in pursuance whereof M/s <strong>vendor</strong> being the Manufacturer/ authorized sole agent of following items in Pakistan and ancillary services offered to supply the required item (s);</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;">meds</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;">and WHEREAS, the Purchaser has accepted the bid by the Supplier as per approved specifications, rates and quantities of the awarded items mentioned in the Notification of Award/Advance Acceptance of Tender (AAT).</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;">NOW THE PARTIES TO THIS CONTRACT AGREE TO THE FOLLOWING:</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>1. The Contract:</u></strong>The following documents shall be deemed to form and be read and construed as integral part of this Contract, viz: -</span></p>
    
  </ol>
  <ol type="a">
    <li style="text-align: justify;"><span style="font-size: 9px;">This Contract Form </span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">The Schedule of Requirements <span style="font-weight: bold;">Annex- A</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">Special Conditions of Contract &amp; the Technical Specifications <span style="font-weight: bold;">Annex- B</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">Original Price Schedule along with unsolicited discount offered by the firm (if any) submitted by the Bidder <span style="font-weight: bold;">Annex- C</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">The Notification of Award (AAT) <span style="font-weight: bold;">Annex- D</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">Purchase Order<span style="font-weight: bold;">&nbsp;Annex- E</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">Payment Schedule<span style="font-weight: bold;">&nbsp;Annex- F</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">The General Conditions of Contract <span style="font-weight: bold;">Annex- G</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">Performance Guarantee/Security <span style="font-weight: bold;">Annex- H</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">The bidding documents of Procuring Agency <span style="font-weight: bold;">Annex- I</span></span></li>

    <li style="text-align: justify;"><span style="display: block;font-size: 9px;width: 90%;">Health Facility wise tentative quantity of awarded items<span style="font-weight: bold;">&nbsp;Annex- J</span></span></li>

  </ol>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>2. Interpretation :</u></strong> In this Contract words and expressions shall have the same meanings as are respectively assigned to them in the General Conditions of this Contract hereinafter referred to as &quot;Contract&quot;</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>3. The Term of the Contract :</u></strong> This contract shall remain valid for one year from the date of signing, unless amended by mutual consent. The purchaser (s) within the validity of contract period can procure the awarded/contracted goods through repeat order (s) prescribed in rule 59 (c)(iv) of PPR 2014 i.e., upto fifteen percent of the original procurement.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>4. The Supplier declares as under</u></strong><u>:</u></span></p>

  <ol type="i">
    <li style="text-align: justify;"><span style="font-size: 9px;"><strong>vendor </strong>hereby declares that it has not obtained or induced the procurement of any Contract, right, interest, privilege or other obligation or benefit from Government of Punjab or any administrative subdivision or agency thereof or any other entity owned or controlled by it (Government of Punjab) through any corrupt business practice.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Without limiting the generality of the foregoing, <strong>vendor</strong> represents and warrants that it has fully declared the brokerage, commission, fees etc, paid or payable to anyone and not given or agreed to give and shall not give or agree to give to anyone within or outside Pakistan either directly or indirectly through any natural or juridical person, including its affiliate, agent, associate, broker, consultant, director, promoter, shareholder, sponsor or subsidiary, any commission, gratification, bribe, finder&#39;s fee or kickback, whether described as consultation fee or otherwise, with the object of obtaining or including the procurement of a Contract, right interest, privilege or other obligation or benefit in whatsoever form from Government of Punjab, except that which has been expressly declared pursuant hereto.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;"><strong>vendor</strong> certifies that has made and shall make full disclosure of all agreements and arrangements with all persons in respect of or related to the transaction with Government of Punjab and has not taken any action or shall not take any action to circumvent the above declaration, representation or warranty.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;"><strong>vendor</strong> accepts full responsibility and strict liability for making any false declaration, not making full disclosure, misrepresenting facts or taking any action likely to defeat the purpose of this declaration, representation and warranty. It agrees that any Contract, right, interest, privilege or other obligation or benefit obtained or procured as aforesaid shall, without prejudice to any other right and remedies available to Purchaser (s) /Procuring Agencies under any law, Contract or other instrument, be void able at the option of Procuring Agency.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Notwithstanding any rights and remedies exercised by Procuring Agency in this regard, <strong>vendor</strong> agrees to indemnify Procuring Agency for any loss or damage incurred by it on account of its corrupt business practices and further pay compensation to Procuring Agency in an amount equivalent to ten time the sum of any commission, gratification, bribe, finder&#39;s fee or kickback given by <strong>vendor </strong>as aforesaid for the purpose of obtaining or inducing the procurement of any Contract, right, interest, privilege or other obligation or benefit in whatsoever form from Purchaser (s) /Procuring Agency (ies).</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">In case of any dispute concerning the interpretation and/or application of this Contract shall be settled through arbitration. The Additional Chief Secretary or his nominee shall act as sole arbitrator. The decisions taken and/or award made by the sole arbitrator shall be final and binding on the Parties.</span></li>
  </ol>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>5. Items to be Supplied &amp; Agreed Unit Cost :</u></strong></span></p>

  <ol type="i">
    <li style="text-align: justify;"><span style="font-size: 9px;">The Supplier shall provide to the procuring agencies i.e., Provincial &amp;District Health Department&#39;s the items on the agreed cost more specifically described in the Price Schedule Submitted by the Bidder (Annex C).</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Each Items supplied shall strictly conform to the Schedule of Requirements (Annex A) and to the Technical Specification (Annex B) prescribed by the Purchaser against each item.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">The Unit Cost agreed in the Price Schedule (Annex C), is inclusive of all taxation and costs associated with transportation and other agreed incidental costs</span></li>
  </ol>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>6. Payments:</u></strong><u>&nbsp;</u>The Procuring Agencies shall make payments to the contractor/ supplier on satisfactory performance i.e., provision of ordered quantity of standard quality medicine (s) as per approved specifications which will be verified by Testing Laboratory (ies) and Inspection Committee. . The lawful payment to the firm shall be made within 15 days after receipt of the standard quality test/analysis report by the Testing Laboratory (ies) and satisfactory inspection report by the Inspection Committee and fulfillment of all other legal &amp; codal formalities.</span></p>

  <p style="text-align: justify;"><strong style="font-size: 9px;"><u>7. Mode of Payment:</u></strong>
    <span style="font-size: 9px;">All payments to the Supplier shall be made through Crossed Che-ques issued in the name of <strong>vendor</strong> in case of DDP. In case of C&amp;F; the payment will be made 100% via establishing the LC in favor of manufacturer/beneficiary as per schedule of requirement and receiving shipping documents/ Bill of lading Insurance, Inspection certificate of the manufacturer, Country of origin, compliance of International standards of quality as per INCOTERMS of latest version. The payment will be made in the following manner through a letter of credit to be opened by the Procuring Agency.</span></p>

  <p style="text-align: justify;"><strong><span style="font-size: 9px;">(A) </span></strong><span style="font-size: 9px;">Exchange rate of the date of financial opening shall be applicable. Any fluctuation till the time of clearance of payment shall be borne by contracting firm. Payment shall be made after delivery, pre shipment inspection at the manufacturing site and inspection during clearance at port on the part of firm. Furthermore, if charges incurred on extension of L/C to next quarter it will be on part of contracting firm.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(B)</strong> The amount of Letter of Credit shall be paid to beneficiary/Manufacturer on production of the following non-negotiable documents.</span></p>

  <ol type="i">
    <li style="text-align: justify;"><span style="font-size: 9px;">Draft.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Three original and two copies of the Supplier&#39;s Invoice showing purchaser as Secretary Primary &amp; Secondary Healthcare, Government of Punjab, Pakistan, the Contract No., Goods description, quantity, unit price and total amount. Invoice must be signed in original stamped or sealed with company stamp or seal.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Four Copies of packing list identifying content of each package.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">One original and two copies of the negotiable, clean, on board through bill of lading marked &ldquo;freight prepaid&rdquo; and showing purchaser as Secretary Health.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Copy of Insurance Certificate showing purchaser as the beneficiary;</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">The original manufacturer&rsquo;s warranty certificate covering all items supplied;</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">One original copy of the Supplier&rsquo;s Certificate of origin covering all items supplied.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Test/ Inspection Certificate of manufacturers.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Compliance Report of Internal Quality Standards.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Manufacturer&#39;s Guarantee Certificate to the effect that:</span>

      <ol type="a">
        <li style="text-align: justify;"><span style="font-size: 9px;">The goods supplied by them are strictly in conformity with the specifications stipulated in the contract.</span></li>
        <li style="text-align: justify;"><span style="font-size: 9px;">The goods have been packed and marked suitable for transport by Sea, Rail, Road and Air in terms of the contract.</span></li>
        <li style="text-align: justify;"><span style="font-size: 9px;">The stores supplied by them are brand new and absolutely free from any material or manufacturing defects.</span></li>
        <li style="text-align: justify;"><span style="font-size: 9px;">Manufacturer&#39;s test certificate in respect of each consignment.</span></li>
      </ol>
    </li>
  </ol>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(C) <u>Packing (Export)</u></strong> Usual export packing to ensure safe journey up to the site of consignee.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(D) <u>Trans-shipment</u></strong> Trans-shipment is not allowed.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(E) <u>Place of delivery</u></strong> The place of delivery will be Lahore and site of delivery will be Medical Store Depot Lahore &amp; Multan.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(F) <u>Port of Clearance</u></strong> Port of Clearance will be Lahore, Pakistan (C&amp;F Lahore).</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(G) <u>Inspection</u></strong> Pre-Shipment inspection once to witness the process at manufacturing site by two nominees of procuring agency. Inspection will also be carried out by the purchaser on port of arrival for each consignment and the cost will be on supplier.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>(H) <u>Customs Clearance &amp; Delivery to final Destination</u></strong> Supplier will be responsible for all the clearing arrangement other than taxes &amp; duties. Deliver to the final destination is also on supplier part.</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>8. Payment Schedule:</u></strong><u>&nbsp;</u>All payments to the Supplier shall be made in accordance with the agreed Payment Schedule at Annex: F, upon satisfactory completion of delivery and fulfillment of documentary and codal formalities highlighted in the Payment Schedule at Annex F</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>9. Performance Guarantee/Security:</u></strong></span></p>

  <ol type="i">
    <li style="text-align: justify;"><span style="font-size: 9px;">The Supplier, within 10 days of signing of this contract, shall provide to the Purchaser a <u>Performance Security in the form of an Irrevocable Bank Guarantee equivalent to 02% of the total Contract amount having validity of one year from its date of issuance from any scheduled bank on the prescribed format and in prescribed manner.</u> This Performance Guarantee/Security shall be released to the Supplier upon successful completion of the Contract i.e., receipt of No Objection Certificate from the Provincial &amp; District Health Procuring Agencies.</span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">Failure to submit a Performance Guarantee/Security shall result into Cancellation of Contract.</span></li>
  </ol>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>10. Penalties/ Liquidated Damages:</u></strong></span></p>

  <ol type="i">
    <li style="text-align: justify;"><span style="font-size: 9px;">Wherein the Supplier fails to make deliveries as per signed contract&amp; purchase order and within the stipulated time frame specified in the Schedule of Requirement, the purchase order issued by the procuring agency (ies) to the extent of non-delivered portion of supplies shall stand cancelled. </span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">After the cancellation of the purchase order by any procuring agency, the department subsequently will cancel the Contract to the extent of non delivered item (s) and entire amount of Performance Guaranty/Security shall be forfeited. </span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">If the Supplier fails to execute any purchase order issued by the Provincial/District Health Departments and fails to supply the whole or part consignment to any procuring agency and not able to deliver to consignee&#39;s end, the entire amount of Performance Guaranty/Security shall be forfeited to the Government account and the firm shall be debarred/blacklisted minimum for two years. </span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;">The exact time frame for making supplies with and without penalty shall be indicated in schedule of requirement and subsequent purchase order issued by the procuring agency (ies) </span></li>
    <li style="text-align: justify;"><span style="font-size: 9px;"><strong><u>A penalty @ 0.134% per day of the cost of late delivered supply shall
be imposed upon the Supplier by the procuring agency (ies), if the procuring agency (ies) decides (as per clause 20 of GCC) to accept the goods even after
the due delivery date /period</u></strong> specified in the Schedule of Requirements and subsequent purchase order issued by the procuring agency (ies). </span></li>
  </ol>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong><u>11. Notices:</u></strong><u>&nbsp;</u>All notices and correspondences incidental to this contract shall be in English language and shall be addressed to:</span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>For the Purchaser:</strong>
  <br>
  Secretary Primary &amp; Secondary Healthcare Department, 1-Birdwood Road Lahore</span></p>

  
  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>
  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><strong>For the Supplier: &nbsp;</strong>
  <br>
  <strong>M/s vendor, VendorAddress</strong></span></p>

  <p style="text-align: justify;page-break-before: always;"><span style="font-size: 9px;">IN WITNESS Whereof the Parties hereto have caused this Contract to be executed at Consignee&rsquo;s ad/Procuring Agencies and shall enter into force on the day, month and year first above mentioned.</span></p>
  
  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>
  
  <div style="width:100%;display: block;">
    <div style="width:50%;display:inline-block;vertical-align: top;">
      <p style="text-align: center; max-width: 170px;margin: 0 auto;line-height: 1;">
        <span style="font-size: 9px;">On behalf of&nbsp;<strong> M/s vendor</strong></span>
      </p>
    </div>    
    <div style="width:50%;display:inline-block;vertical-align: top;">
      <p style="text-align: center; max-width: 170px;margin: 0 auto;line-height: 1;">
        <span style="font-size: 9px;">On behalf of Primary & Secondary Healthcare Department Purchaser</span>
      </p>
    </div>
  </div>  

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <div style="width:100%;display: block;">
    <div style="width:50%;display:inline-block;vertical-align: top;">
      <p style="text-align: center; max-width: 170px;margin: 0 auto;">
        <span style="font-size: 9px;"><u>Witnesses-1</u></span>
      </p>
    </div>    
    <div style="width:50%;display:inline-block;vertical-align: top;">
      <p style="text-align: center; max-width: 170px;margin: 0 auto;">
        <span style="font-size: 9px;"><u>Witnesses-1</u></span>
      </p>
    </div>
  </div>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <div style="width:100%;display: block;">
    <div style="width:50%;display:inline-block;vertical-align: top;">
      <p style="text-align: center; max-width: 170px;margin: 0 auto;">
        <span style="font-size: 9px;"><u>Witnesses-2</u></span>
      </p>
    </div>    
    <div style="width:50%;display:inline-block;vertical-align: top;">
      <p style="text-align: center; max-width: 170px;margin: 0 auto;">
        <span style="font-size: 9px;"><u>Witnesses-2</u></span>
      </p>
    </div>
  </div>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>

  <p style="text-align: justify;"><span style="font-size: 9px;"><u>C.C.</u></span></p>

  <ol type="1">
    <li><span style="font-size: 9px;">All Procuring Agencies (All Chief Executive Officers &ndash; District Health Authorities)</span></li>
    <li><span style="font-size: 9px;">All Medical Superintendents of DHQ (Non-Teaching) &amp; THQ Hospitals in Punjab</span></li>
    <li><span style="font-size: 9px;">Director General Health Services Punjab</span></li>
    <li><span style="font-size: 9px;">All Vertical Programs</span></li>
    <li><span style="font-size: 9px;">Punjab Health Facilities Management Company</span></li>
  </ol>

  <p data-empty="true" style="text-align: justify;"><span style="font-size: 9px;"><br></span></p>
</div>
