<p style="text-align: center;font-weight: bolder;"><span">Primary &amp; Secondary Healthcare Department, Government of the Punjab</span></p>
<hr />
<p style="text-align: justify;"><span style="font-size: 8px;"><u>Through Registered Post</u></span></p>
<p style="text-align: center;"><span style="font-size: 9px;font-weight: bold;"><u>Purchase Order</u></span></p>


<p style="text-align: left;"><span style="font-size: 9px;font-weight: bold;">Purchase Order No:&nbsp;pono</span></p>
<p style="text-align: left;"><span style="font-size: 9px;font-weight: bold;">Date:&nbsp;--------------</span></p>
<p style="text-align: left;"><span style="font-size: 9px;font-weight: bold;">Contractor&#39;s Name and Address:&nbsp;vendor,&nbsp;VendorAddress</span></p>
<p style="text-align: left;"><span style="font-size: 9px;font-weight: bold;">Firm&#39;s Address:&nbsp;VendorAddress</span></p>
<p style="text-align: left;"><span style="font-size: 9px;"><strong>Particulars of Items/Stores:</strong>&nbsp;As per detail given below and approved specifications mentioned in notifications of award/advance acceptance of tender (AAT) and signed contract for financial year <strong>cY</strong></span></p>

<p><span style="font-size: 9px;">meds</span></p>
<p style="text-align: justify;"><span style="font-size: 9px;"><strong>Instructions:</strong></span></p>
<table>
        <tbody style="font-size: 9px;">
                
                <tr>
                        <td>Place of Delivery</td>
                        <td>MSD, Gromangat Road, Lahore or any warehouse designated by P&amp;SHD or concerned vertical program.</td>
                </tr>
                <tr>
                        <td>Name &amp; Address of Consignee</td>
                        <td><strong>userName</strong></td>
                </tr>
                <tr>
                        <td>Despatch Instruction</td>
                        <td>The stores should be deliver to the consignee free of all charges in safe &amp; sound condition.</td>
                </tr>
                <tr>
                        <td>Inspection Authority</td>
                        <td>Notified Inspection Committee by P&amp;SHD</td>
                </tr>
                <tr>
                        <td>Place of Inspection</td>
                        <td>Consignee&#39;s end</td>
                </tr>
        </tbody>
</table>
<p style="text-align: center;page-break-before: always;"><span style="font-size: 9px;"><strong>Schedule of Requirement</strong></span></p>
<table style="width: 100%;">
          <thead style="font-size: 9px;">
            <tr>
              <th>Supply Schedule</th>
              <th>Delivery of Qty without Penalty</th>
              <th>Grace Period</th>
              <th>Total Delivery Period</th>
            </tr>
          </thead>
        <tbody style="font-size: 9px;">
                <tr>
                        <td style="vertical-align:top;border:1px solid #ddd;">Immediately after receiving of the purchase order(started from date of Purchase Order)</td>
                        <td style="vertical-align:top;border:1px solid #ddd;">60 Days</td>
                        <td style="vertical-align:top;border:1px solid #ddd;">15 Days</td>
                        <td style="vertical-align:top;border:1px solid #ddd;">75 Days</td>
                </tr>
                <tr>
                  <td colspan="4" style="border: 1px solid #ddd;">Sixty (60) days as delivery period + Fifteen (15) days as grace period from the date of issuance of purchase Order or earlier extension in delivery period with penalty @ 0.134 % per day after sixty (60) days (as delivery period shall be decided by consignee/procuring agency on the formal request of supplier as specified in clause 20 of general term and conditions of the Contract.</td>
                </tr>
                <tr>
                  <td colspan="1" style="border: 1px solid #ddd;"><strong>Conditions of Contract/Purchase Order</strong></td>
                  <td colspan="3" style="border: 1px solid #ddd;">The contractor shall supply the item(s) as per frame work contract signed between the Primary and Secondary Healthcare Department (P&amp;SHD) and Contractor for Financial Year 2017-18 &amp; Approved specifications mentioned in notifications and awards (AAT) issued by P&amp;SHD.</td>
                </tr>

        </tbody>
</table>

<p style="text-align: justify;">
        <br>
</p>

<p><span style="font-size: 9px;"><strong><u>IMPORTANT NOTE:</u></strong> This purchase order shall be the part of the Framework Contract concluded by Primary &amp; Secondary Healthcare department, Govt. of Punjab, during financial year <strong>cY</strong> as Annexed in Annexure-E of The Contract.</span></p>
<p style="text-align: justify;">
        <br>
</p>
<p style="text-align: right;"><span style="font-size: 9px;"><strong style="border-top: 1px solid #000;">Issuing Authority</strong></span></p>
<p style="text-align: justify;">
        <br>
</p>
<p><span style="font-size: 9px;">Copy to:<br>1. Secretary Primary &amp; Secondary Healthcare Department, Government of the Punjab <br>2. Director General Health Services Punjab Lahore <br>3. District Coordination Officer <br>4. District Account Officer <br>5. Account Section <br>6. <strong>vendor</strong>, <strong>VendorAddress</strong><strong>&nbsp;</strong>for execution of the Purchase Order <br>7. ______________________________________________</span></p>
